/* Style the page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    background-color: rgb(250, 250, 195);
}

.index-page {
    text-align: center;
    background-color: rgb(250, 195, 250);
    font-weight: 700;
}

h1 {
    font-size: 36px;
    margin-top: 5px;
}

h2 {
    padding: 20px;
}

ul.recipes {
    list-style: none;
}

.recipes li a {
    text-decoration: none;
    color: rgb(80, 79, 79);
}

img {
    display: block;
    width: 500px;
    height: 400px;
    padding: 5px;
}

a.back-home {
    padding: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

ul li,
ol li,
p {
    padding: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
